@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

:root {
    font-family: "Poppins", sans-serif;
    color: var(--theme);
    --bg: #ffffff;
    --bgtr: #ffffff7F;
    --disabled: #d9d9d97BD;
}
input, select, option {
    font-family: inherit;
    font-size: 1em;
}
body {
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
}
background svg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
background svg path {
    fill: var(--theme);
}
background svg #bg {
    fill: var(--bg);
}
background svg #overlay {
    fill: var(--bg);
    fill-opacity: 0.8;
}
container {
    width: calc(100vw - 50px);
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
input, select {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 2px solid var(--theme);
    border-radius: 4px;
    color: var(--theme) !important;
    background-color: var(--bgtr) !important;
    outline: 0;
}
select option {
    background-color: var(--bg) !important;
}
input:disabled {
    background-color: var(--disabled) !important;
}
input:focus, select:focus {
    border: 2px solid var(--theme);
}
.inputs {
    display: flex;
}
.inputs > * {
    margin: 0 10px;
}
fieldset {
    border: 2px solid var(--theme);
    border-radius: 4px;
}
.q-input {
    padding: 0 10px;
}
.a-input {
    padding: 0 10px;
    display: none;
}
.submit {
    padding: 10px;
}
#submit {
    background-color: white;
    padding: 3px 8px;
}
.underline {
    text-decoration: underline; 
    white-space: pre;
}
instructions {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 200px;
}
function {
    display: none;
    text-align: center;
}
#graph {
    display: none;
    max-width: 960px;
    max-height: 540px;
}
path, .point {
    stroke: var(--theme);
}
text, .focusPoint, .focusLine {
    fill: var(--theme);
}
#theme {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
}
.listening-rect {
    fill: transparent;
}

@media only screen and (max-width: 800px) {
    .inputs {
        flex-direction: column;
    }
    #graph {
        display: none !important;
    }
}
@media only screen and (max-width: 1080px) {
    instructions {
        position: relative;
        width: 90%;
        top: 0;
        left: 0;
    }
}